*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background: url(./jeremy-bishop-G9i_plbfDgk-unsplash.jpg);
    background-size :cover;
    background-position: center;
    position: relative;
    overflow: hidden;
   
}
.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite ;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}
@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 3s;
}
.bubbles img:nth-child(3){
    animation-delay: 4.5s;
    width: 15px;
}
.bubbles img:nth-child(4){
    animation-delay: 2s;
    width: 40px;
}
.bubbles img:nth-child(5){
    animation-delay: 1s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}
.bubbles img:nth-child(7){
    animation-delay: 3.9s;
    width: 30px;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    margin-top: auto;
    width: 200px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #B2EBF2;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
    width: 50%;
    float: left;
}


.para{
    text-align:justify;
    font-size: 15px;
}
.header-text h2{
    font-size: 45px;
    margin-top: 20px;
}
.header-text h4 span{
    color: #17c2d8;
}

.header-text a{
    margin-bottom: 20px;
}

#about{
    padding: 80px 0px;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col1{
    flex-basis: 35%;

}
.about-col1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0px 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #B2EBF2;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0px;

}
.tab-contents ul li span{
    color: #C8E6C9;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*------------------servise------------*/

.servises{
    padding: 30px 0px;
}
.servise-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.servise-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.servise-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.servise-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.servise-list div:hover{
    background: #087584;
    transform: translateY(-10px);

}


/*------------------portfolio------------*/

#portfolio{
    padding: 50px 0px;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#2ce2ef);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 50px;
}
.layer a{
    margin-top: 20px;
    color: #2ce2ef;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #2ce2ef;
    padding: 14px 50px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #2ce2ef;
}

.contack-left{
    flex-basis: 35%;
}
.contack-right{
    flex-basis: 60%;
}
.contack-left p{
    margin-top: 30px;
}
.contack-left p i{
    color: #2ce2ef;
    margin-right: 15px;
    font-size: 25px;

}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    transition: transform 1.0s;
}
.social-icons a:hover{
    color: #2ce2ef;
    transform: translateY(-5px);

}
.btn.btn2{
    display: inline-block;
    transition: transform 1.0s;
    
}
.btn.btn2:hover{
    background: #2ce2ef;
    transform: translateY(-10px);

}
.abc{
    background: #080808;
    color: #fff;
}
.contack-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}
form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
} 
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;

}


#span{
    color: #2ce2ef;
    margin: -40px;
    display: block;

}

nav .fa-sharp{
    display: none;
}
nav .fa-solid{
    display: none;
}

@media only screen and (max-width : 600px){
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h2{
        font-size: 30px;
    }
    nav .fa-sharp{
        display: block;
        font-size: 25px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #2ce2ef;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-sharp{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col1, .about-col2{
        flex-basis: 100%;
    }
    .about-col1{
        margin-bottom: 30px;
    }
    .about-col2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contack-left, .contack-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }


}
